@media (max-width:991px) {
    .navbar-nav .nav-item:nth-child(1) {
        margin-left: 0px;
    }
    .clinic-specialities {
        padding: 100px 0;
    }
    .home-page .h1 {
        font-size: 1.8rem;
    }
    .home-page .h5 {
        font-size: 1rem;
    }
    .clinic-specialities .h1 {
        font-size: 2rem;
    }
    .clinic-specialities .h5 {
        font-size: 1rem;
        width: 80%;
    }
    .clinic-specialities .item {
        width: 100px;
        height: 100px;
        max-width: 100px;
        max-height: 100px;
    }
    .book-doctor {
        padding: 200px 0;
    }
    .book-doctor .h1 {
        font-size: 1.5rem;
    }
    .book-doctor .h5 {
        font-size: 1rem;
        color: #acacac;
    }
    .book-doctor .lead {
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.747);
    }
    .available-features {
        padding: 100px 0 !important;
    }
    .available-features .h1 {
        font-size: 1.8rem;
    }
    .available-features .h5 {
        font-size: 1rem;
    }
    .footer {
        padding: 5px !important;
    }
    .footer .col-md-3 {
        max-width: 50%;
        margin: 1rem 0;
    }
    .footer .h4 {
        font-size: 1.3rem;
    }
    .footer .email {
        font-size: 0.75rem;
        word-wrap: break-word;
    }
    .footer .phone {
        font-size: 0.9rem;
    }
    .footer p {
        font-size: 0.8rem;
    }
}

@media (max-width:768px) {
    .login-btn {
        font-size: 0.8rem;
    }
    .nav-contact p {
        font-size: 0.8rem;
    }
}