{% extends 'basic.html' %} {% load static %} {% block body %}

{% if user.fieldName == "Doctor" %}

<div class="my-3 bg-info2 px-4 py-2">
    <p class="my-1">Home / Profile / Dashboard</p>
    <p class="h4 font-weight-bold">My Profile</p>
</div>

<div class="container-fluid my-4">
    <div class="row">

        <div class="container col-lg-3 col-sm-4 mr-auto my-3">
            {% include '../incFile/doctor_profile_menu.html' %}
        </div>

        <div class="container col-lg-9 col-sm-8 my-3">

            {% if user.status == "pending" %}
            <h6 class="mb-4 text-center">Your Profile is now <span
                    class="text-danger text-uppercase">{{user.status}}</span>
                , Wait for Accept Your Profile
                Request.</h6>

            {% else %}

            <div class="row d-flex justify-content-center">
                <div class="appo-card col">
                    <div class="card shadow py-2">
                        <div class="card-body">
                            <div class="align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 font-weight-bold text-success text-uppercase mb-2">
                                        Today <br> Appoinments</div>
                                    <div class="h5 mb-0 font-weight-bold">
                                        {{todayAppo|length}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="appo-card col">
                    <div class="card shadow py-2">
                        <div class="card-body">
                            <div class="align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 font-weight-bold text-danger text-uppercase mb-2">
                                        Pending <br> Appoinments</div>
                                    <div class="h5 mb-0 font-weight-bold">
                                        {{pendingAppo|length}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="appo-card col">
                    <div class="card shadow py-2">
                        <div class="card-body">
                            <div class="align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 font-weight-bold text-primary text-uppercase mb-2">
                                        Complate <br> Appoinments</div>
                                    <div class="h5 mb-0 font-weight-bold">
                                        {{complateAppo|length}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="appo-card col">
                    <div class="card shadow py-2">
                        <div class="card-body">
                            <div class="align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 font-weight-bold text-dark text-uppercase mb-2">
                                        Total <br> Appoinments</div>
                                    <div class="h5 mb-0 font-weight-bold">
                                        {{bookAppo|length}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="container-fluid p-5 mt-3 shadow-sm">
                <p class="h4 mb-5 text-center">Patients Appoinments</p>
                <div class="col-md-12 col-xs-12 d-flex justify-content-center">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="mr-2 nav-item" role="presentation">
                            <a class="nav-link active" id="today-appoinments-tab" data-toggle="pill"
                                href="#today-appoinments" role="tab" aria-controls="today-appoinments"
                                aria-selected="true" style="border-radius:50px">
                                <i class="fas fa-calendar-day"></i>
                                Today</a>
                        </li>
                        <li class="mr-2 nav-item rounded" role="presentation">
                            <a class="nav-link" id="upcoming-appoinments-tab" data-toggle="pill"
                                href="#upcoming-appoinments" role="tab" aria-controls="upcoming-appoinments"
                                aria-selected="false" style="border-radius:50px">
                                <i class="far fa-calendar-check"></i>
                                Upcoming</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="today-appoinments" role="tabpanel"
                        aria-labelledby="today-appoinments-tab">
                        <div class="mt-5">
                            <table id="table_id" class="display">
                                <thead>
                                    <tr>
                                        <th>Patient Name</th>
                                        <th>Appt Date</th>
                                        <th>Timing</th>
                                        <th>Amount</th>
                                        <th>Paid</th>
                                        <th>Medicine</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in todayAppo %}
                                    <tr>
                                        <td><a
                                                href="/doctor_patient_dashboard/{{i.patientId}}/{{i.bookId}}">{{i.patientName}}</a>
                                        </td>
                                        <td>{{i.date}}</td>
                                        <td>{{i.time}}</td>
                                        <td>{{i.amount}}</td>
                                        <td>
                                            {% if i.payment == True %}
                                            <button class="btn btn-sm btn-success"><i class="fas fa-check"></i>
                                                Success</button>
                                            {% else %}
                                            <button class="btn btn-sm btn-danger"><i class="fas fa-spinner"></i>
                                                Pending</button>
                                            {% endif %}
                                        </td>
                                        <td><button class="btn btn-sm btn-warning"> <i class="fas fa-eye"></i>
                                                View</button></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="upcoming-appoinments" role="tabpanel"
                        aria-labelledby="upcoming-appoinments-tab">
                        <div class="mt-5">
                            <table id="table_id2" class="display">
                                <thead>
                                    <tr>
                                        <th>Patient Name</th>
                                        <th>Appt Date</th>
                                        <th>Timing</th>
                                        <th>Amount</th>
                                        <th>Paid Ammount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in upcomingAppo %}
                                    <tr>
                                        <td>{{i.patientName}}</td>
                                        <td>{{i.date}}</td>
                                        <td>{{i.time}}</td>
                                        <td>{{i.amount}}</td>
                                        <td>
                                            {% if i.payment == True %}
                                            <button class="btn btn-sm btn-success"><i class="fas fa-check"></i>
                                                Success</button>
                                            {% else %}
                                            <button class="btn btn-sm btn-danger"><i class="fas fa-spinner"></i>
                                                Pending</button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}

        </div>
    </div>
</div>

{% endif %}
{% endblock body %}